Repository googleapis/python-service-directory, pull requests merged in 2021-04, with the labels that each got.

#58 chore: sort class names
  google/cloud/servicedirectory_v1beta1/__init__.py
  synth.metadata
Labels: api: servicedirectory, cla: yes, context: none

#61 chore: sort classes
  google/cloud/servicedirectory_v1/__init__.py
  synth.metadata
Labels: api: servicedirectory, automerge, cla: yes, context: none

#64 chore: prevent normalization of semver versioning
  setup.py
Labels: api: servicedirectory, cla: yes

#68 chore(revert): revert preventing normalization
  setup.py
Labels: api: servicedirectory, cla: yes
